<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Indonesian Food Restaurant" />

    <title>Warung Kita</title>

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <img src="./images/Logo.png" alt="WarungKita" />
      <ul class="nav-menu">
        <li class="nav-item"><a href="#/home">Home</a></li>
        <li class="nav-item"><a href="#/favourite">Favourite</a></li>
        <li class="nav-item">
          <a href="https://github.com/Arraidh">About</a>
        </li>
      </ul>
      <button class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </header>
    <main id="maincontent"></main>
    <my-footer></my-footer>
  </body>
</html>
