@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

img {
  display: block;
}

header {
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 5rem;
}

.nav-item {
  list-style: none;
  font-family: poppins, sans-serif;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.hero-container {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  header ul {
    position: fixed;
    left: -150%;
    top: 5rem;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: #2a9d8f;
  }

  header ul li {
    margin: 16px 0;
  }

  header ul.active {
    left: 0;
    top: 5rem;
  }

  header {
    padding: 1rem;
    justify-content: space-between;
  }

  .nav-menu {
    gap: 1rem;
  }
}
